html {
    padding: 0;
    margin: 0;
}
body {
    margin: 0px 20px 10px 20px;
    color: #24292e;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
}
